# -*- coding: utf-8 -*-
"""
#################################
# Disclaimers                   #
#################################
# Created on {{DAY_FULL}}, {{MONTH_FULL}} {{DATE}}, {{YEAR}}
# Created by {{NAME}}
#
# {{CURSOR}}Summary
#
# Filename: '{{FILEE}}'
"""

# IMPORTS
# empty


# CONSTANTS
# empty
